<div class="col-12 col-sm mb-3 text-sm-center">
    <p>
        <a target="_blank" href="//facebook.com/SyliusEcommerce/"><i class="fab fa-facebook fa-2x"></i></a>
        <a target="_blank" href="//instagram.com/sylius.team/"><i class="fab fa-instagram fa-2x"></i></a>
        <a target="_blank" href="//twitter.com/sylius"><i class="fab fa-twitter fa-2x"></i></a>
    </p>
</div>
