<div class="row">
    <h2 class="col-12 mb-3 title-square">
    L’ Chanvre est né en 2002, de la passion de Christophe Latouche, artisan chanvrier depuis 1998.
    </h2>
</div>
<div class="row">
    <div class="col-8 mb-3">
        <img class="img-fluid" src="{{ asset('bootstrap-theme/images/homepage-banner.jpg', 'bootstrapTheme') }}" alt="Sylius">
    </div>
    <div class="col-4">
        L’ Chanvre est né en 2002, de la passion de Christophe Latouche, artisan chanvrier depuis 1998.
        Nous vous garantissons des produits bio, éthiques et de qualité
        Nous travaillons avec des producteurs locaux, vous proposant une gamme de produits alimentaires 100% bio, 100% française, 100% transformée en Bretagne dans nos ateliers.
        Nous transformons toutes nos matières premières
        Graine décortiquée, huile vierge, farine, sont transformées dans nos ateliers du centre Bretagne à partir de machines élaborées par nous-mêmes pour être les plus adaptées possible à nos besoins, et ainsi vous fournir un produit de la meilleure qualité.
        Nous travaillons ensuite en collaboration étroite avec des artisans bio et locaux pour vous fournir une gamme gourmande et variée : chocolat noir au chanvre, galettes énergétiques, pâtes chanvre et sarrasin, biscuits…
    </div>

</div>
